<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="number">
                    <h3>
                    <small>#</small>
                        <span data-counter="counterup" data-value="stats.blockHeight">{{stats.blockHeight | number: 0 }}</span>
                    </h3>
                    <small>Block Height</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-hourglass-half"></i>
                </div>
                <div class="number">
                    <h3>
                        <span data-counter="counterup" data-value="stats.blockTime">{{stats.blockTime | number: 2}} s</span>
                    </h3>
                    <small>Block Time</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-tachometer"></i>
                </div>
                <div class="number">
                    <h3>
                        <span data-counter="counterup" data-value="stats.validatorsrate">
                            {{stats.onlinevalidators}} / {{stats.totalvalidators}}
                        </span>
                    </h3>
                    <small>Active Validators</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <small class="font-green-sharp">$</small>
                        <span data-counter="counterup" data-value="stats.usdPht">{{stats.usdPht}}</span>
                    </h3>
                    <small>PHT Price</small>
                </div>
                <div class="icon">
                    <i class="icon-fire"></i>
                </div>
            </div>
        </div>
    </div>
</div>
