<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="number">
                    <small>Last block</small>
                    <h4>
                        <span data-counter="counterup" data-value="stats.blockHeight" ng-show="stats.blockHeight"># {{stats.blockHeight | number: 0 }}</span>
                        <span data-counter="counterup" data-value="stats.blockHeight" ng-hide="stats.blockHeight"># - </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-diamond"></i>
                </div>
                <div class="number">
                    <small>Total Supply (PHT)</small>
                    <h4>
                        <span data-counter="counterup" data-value="stats.validatorsrate">{{stats.totalSupply | number: 0}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-fire"></i>
                </div>
                <div class="number">
                    <div class="item">
                        <small>Total Transactions</small>
                        <h4>
                            <span data-counter="counterup" data-value="stats.blockTime" ng-show="stats.totalTxs">{{stats.totalTxs | number : 0}}</span>
                            <span data-counter="counterup" data-value="stats.blockTime" ng-hide="stats.totalTxs">{{ "-" }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="icon">
                    <i class="fa fa-tachometer"></i>
                </div>
                <div class="number">
                    <div class="item">
                        <small class="hover">Txs per second (~600 tps)
                            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                            title="Note: Velocity calculated using recent transaction history data. Lightstreams tx throughput is ~600 tps"></i>
                        </small>
                        <h4>
                            <span data-counter="counterup" data-value="stats.blockTime" ng-show="stats.tps">{{stats.tps | number : 0}}</span>
                            <span data-counter="counterup" data-value="stats.blockTime" ng-hide="stats.tps">{{ "-" }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
