<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12 portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span><b>Token Distribution</b></span>
                <a href="/addr/{{tokenDistributionAddress}}">{{tokenDistributionAddress}}</a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12 center">
                    <span class="error-msg" ng-show="errorMsg">Error: {{ errorMsg }}</span>
                </div>
                <div class="col-md-12 center">
                    <span class="info-msg" ng-show="infoMsg">Info: {{ infoMsg }}</span>
                </div>
            </div><!--end row-->
            <div class="row">
                <div class="col-md-6 center">
                    <div>
                        <span class="eth-stat-title">MetaMask Wallet</span><br>
                        <span class="eth-stat-text"><a href="/addr/{{metamask.walletAddress}}">{{metamask.walletAddress}}</a></span><br>
                    </div>
                </div>
                <div class="col-md-6 center">
                    <div>
                        <span class="eth-stat-title">Balance</span><br>
                        <span class="eth-stat-text">{{ metamask.balance | number: 3 }} {{ tokenSymbol }}</span><br>
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end portlet-body-->
    </div><!--end portlet-->

    <div class="col-md-12" ng-show="metamask.vesting">
        <div class="portlet-body">
            <h3> Token Vesting </h3>
            <table class="col-md-6 table table-ls">
                <tr>
                    <td>Start at</td>
                    <td>{{metamask.vesting.startTimestamp | date:'dd-MM-yyyy HH:mm:ss Z' }}</td>
                </tr>
                <tr>
                    <td>Completed at</td>
                    <td>{{metamask.vesting.startTimestamp | date:'dd-MM-yyyy HH:mm:ss Z' }}
                    </td>
                </tr>
                <tr>
                    <td>Lock Periods</td>
                    <td>{{ metamask.vesting.lockPeriod }} days</td>
                </tr>
                <tr>
                    <td>Issued amount</td>
                    <td>{{ metamask.vesting.balanceInitial | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>Vested amount</td>
                    <td>{{ metamask.vesting.balanceClaimed | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>Pending amount</td>
                    <td>{{ metamask.vesting.balanceRemaining | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="metamask.vesting.bonusInitial > 0.0">
                    <td>Issued bonus</td>
                    <td>{{ metamask.vesting.bonusInitial | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="metamask.vesting.bonusClaimed > 0.0">
                    <td>Vested bonus</td>
                    <td>{{ metamask.vesting.bonusClaimed | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="metamask.vesting.bonusRemaining > 0.0">
                    <td>Pending bonus</td>
                    <td>{{ metamask.vesting.bonusRemaining | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>Next withdrawal available</td>
                    <td>@TODO</td>
                </tr>
                <tr>
                    <td>Actions</td>
                    <td>
                        <button class="btn btn-info" ng-click="withdraw()">Withdraw</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-info" ng-click="refresh();">Refresh</button>
    </div>
</div>