<!-- BEGIN PAGE CONTENT-->
<div class="">
    <div class="col-md-12 portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span><b>Token Distribution</b></span>
                <a class="addr" href="/addr/{{tokenDistributionAddress}}">{{tokenDistributionAddress}}</a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="notification row">
                <div class="col-md-12 center error" ng-show="errorMsg">
                    <span ng-bind-html="errorMsg"></span>
                </div>
                <div class="col-md-12 center info" ng-show="infoMsg">
                    <span ng-bind-html="infoMsg"></span>
                </div>
            </div><!--end row-->
            <div class="row">
                <div class="col-md-6 center">
                    <div>
                        <span class="eth-stat-title">MetaMask Wallet</span>
                        <a class="btn btn-med" ng-click="refresh()">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': blockLoading}"></i>
                        </a>
                        <br>
                        <span class="eth-stat-text"><a href="/addr/{{metamask.walletAddress}}">{{metamask.walletAddress}}</a></span><br>
                    </div>
                </div>
                <div class="col-md-6 center">
                    <div>
                        <span class="eth-stat-title">Balance</span>
                        <br>
                        <span class="eth-stat-text">{{ metamask.balance | number: 3 }} {{ tokenSymbol }}</span><br>
                    </div>
                </div>
            </div>
        </div><!--end portlet-body-->
    </div><!--end portlet-->

    <div class="col-md-12 row" ng-show="vesting && vesting.startTimestamp > 0">
        <div class="portlet-body">
            <h3> Token Vesting Schedule </h3>
            <table class="col-md-6 table table-ls">
                <tr>
                    <td>Start at</td>
                    <td>{{vesting.startTimestamp | date:'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <td>Completed at</td>
                    <td>{{vesting.endTimestamp | date:'dd/MM/yyyy' }}
                    </td>
                </tr>
                <tr>
                    <td>Lock Periods</td>
                    <td>{{ vesting.lockPeriod }} days</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>{{ vesting.balanceInitial | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>Claimed</td>
                    <td>{{ vesting.balanceClaimed | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>Remaining balance</td>
                    <td>{{ vesting.balanceRemaining | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="vesting.bonusInitial > 0.0">
                    <td>Bonus</td>
                    <td>{{ vesting.bonusInitial | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="vesting.bonusInitial > 0.0">
                    <td>Claimed bonus</td>
                    <td>{{ vesting.bonusClaimed | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr ng-show="vesting.bonusInitial > 0.0">
                    <td>Remaining bonus</td>
                    <td>{{ vesting.bonusRemaining | number: 3}} {{ tokenSymbol }}</td>
                </tr>
                <tr>
                    <td>ATM</td>
                    <td>
                        <button class="btn btn-info" ng-click="withdraw()" ng-disabled="vesting.withdrawable < 0.1">
                            Withdraw {{ vesting.withdrawable | number: 2 }} {{ tokenSymbol }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12" ng-show="vesting && vesting.startTimestamp == 0">
        <div class="portlet-body">
            <h3> Not vesting found for selected wallet.</h3>
        </div>
    </div>
</div>