<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12 portlet light">
        <div class="portlet-body">
            <table class="col-md-6 table table-hover">
                <tr>
                    <td width="25%">Address</td>
                    <td>{{validator.address}}</td>
                </tr>
                <tr>
                    <td width="25%">PublicKey Type</td>
                    <td>{{validator.pub_key.type}}</td>
                </tr>
                <tr>
                    <td width="25%">PublicKey Value</td>
                    <td>{{validator.pub_key.value}}</td>
                </tr>
                <tr>
                    <td width="25%">Voting Power</td>
                    <td>{{validator.voting_power}}</td>
                </tr>
                <tr>
                    <td width="25%">Proposer Priority</td>
                    <td>{{validator.proposer_priority}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
