<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12 portlet">
        <div class="portlet-body">
            <table class="col-md-6 table table-ls">
                <tr>
                    <td>Address</td>
                    <td>{{validator.address}}</td>
                </tr>
                <tr>
                    <td>PublicKey Type</td>
                    <td>{{validator.pub_key.type}}</td>
                </tr>
                <tr>
                    <td>PublicKey Value</td>
                    <td>{{validator.pub_key.value}}</td>
                </tr>
                <tr>
                    <td>Voting Power</td>
                    <td>{{validator.voting_power}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
