
/************************
    HEADER
 *************************/

.page-header .page-header-top > .container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header .page-header-top img.logo-default {
    max-height: 45px;
}

.page-header .page-header-top > .container > div {
    padding: 10px;
    text-align: center;
}

.page-header .page-header-top > .container .div-left {
    order: 1;
}

.page-header .page-header-top > .container .div-center {
    flex: 2 0;
    order: 2;
}

.page-header .page-header-top > .container .div-right {
    order: 3;
}

.page-header .page-header-top .search-form {
    width: 100%;
    max-width: none;
    min-width: 0;
}

.page-header .page-header-top .search-form .input-group-btn a{
    background: rgba(126, 139, 147, 0.27);
    border-radius: 10px;
}

.page-header .page-header-top .search-form .input-group-btn a:hover {
    color: white;
}

/************************
    NAV MENU
 *************************/


.page-header .hor-menu ul.navbar-nav {
    background: transparent;
}

.page-header .hor-menu ul.navbar-nav li.active a {
    background: rgba(126, 139, 147, 0.27);
}

.page-header .page-header-top .hor-menu .page-header-top {
    background: white;
}

.page-header .page-header-top .mega-menu-content {
    background: white;
}

.page-header .page-header-top .mega-menu-content {
    background: white;
    min-width: 350px;
}

.hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li:hover{
    background: #f1f1f1 !important;
}

.hor-menu .navbar-nav > li.mega-menu-dropdown .dropdown-menu{
    min-width: 250px;
}

.page-header .page-header-top .mega-menu-content {
    min-width: 250px;
}

@media all and (min-width: 768px) {
    .hor-menu .navbar-nav > li .dropdown-menu {
        margin-top: -30px;
    }
}


@media all and (max-width: 768px) {
    .page-header .page-header-top > .container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    .page-header .page-header-top img.logo-default {
        max-height: 70px;
    }
}

@media (max-width: 487px) {
    .container {
        margin: 0 !important;
    }

    .page-header .page-header-top .menu-toggler {
        margin: 33px 3px 0 0;
    }
}

/***********************
    PAGE HEAD
 **********************/
.page-head {
    background-color: transparent !important;
}

.page-head .container {
    padding-left: 35px;
}

.page-head .page-title > h1 {
    color: black;
    font-size: 20px;
}

.page-head .page-title .subtitle {
    display: block;
}

.page-head .page-title .subtitle{
    word-break: break-all;
    display: block;
}

@media (max-width: 487px) {
    .portlet > .portlet-title > .caption {
        font-size: 16px;
    }
}


/************************
    SUMMARY STATS
 *************************/

li .medium {
    background: url(../img/social/medium.png)
}

.dashboard-stat2 {
    margin-bottom: 0;
    padding: 10px 0;
}

@media (min-width: 400px) {
    .dashboard-stat2 .display {
        margin-bottom: 0;
    }
}

.dashboard-stat2 .display {
    background-color: #e0ebf9;
    border-color: #e0ebf9;
    padding: 15px 15px 15px 15px;
    border-radius: 2px !important;
    min-height: 81px;
}

.dashboard-stat2 .display .number small{
    color: #337ab7;
}

.dashboard-stat2 .display .number {
    flex: 2 0;
    order: 1;
}

.dashboard-stat2 .display .icon {
    order: 2;
}

.dashboard-stat2 .display .number h4 {
    margin: 0 0 2px;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
}

.dashboard-stat2 .display {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.dashboard-stat2 small.hover i {
    cursor: pointer;
}

/*.dashboard-stat2 small .tooltiptext {*/
    /*text-transform: none;*/
    /*visibility: hidden;*/
    /*width: 120px;*/
    /*background-color: black;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*border-radius: 6px;*/
    /*padding: 5px 0;*/

    /*!* Position the tooltip *!*/
    /*position: absolute;*/
    /*z-index: 1;*/
/*}*/

/*.dashboard-stat2 small:hover .tooltiptext {*/
    /*visibility: visible;*/
/*}*/

/************************
    HOMEPAGE LISTS
 *************************/

.portlet-bottom {
    padding: 0;
    min-height: 28px;
    border-bottom: 1px solid #eee;
}

.portlet-bottom .actions {
    width: 100%;
    padding: 5px;
}

.portlet-bottom .actions .btn {
    background-color: #f6fbfc;
    color: #337ab7;
    width: 100%;
    border-radius: 5px;
    border-top: #3faba4 0.5px solid;
}

.portlet-bottom .actions .btn:hover {
    background-color: #e0ebf9;
}

.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}

/***********************
    TABLE LS
 **********************/

table.table-ls {
}

table.table-ls tr > td:first-child {
    background-color: #e0ebf9;
}

table.table-ls > tbody > tr > td {
    border-top: 0;
    height: 42px;
    line-height: 20px;
}

@media (min-width: 487px) {
    table.table-ls tr > td:first-child {
        width: 180px;
    }

    table.table-ls > tbody > tr > td {
        padding: 15px 10px 10px 30px;
    }
}

@media (max-width: 487px) {
    table.table-ls tr > td:first-child {
        width: 130px;
    }

    table.table-ls > tbody > tr > td {
        padding: 15px 10px 10px 10px;
    }
}

/************************
    OTHERS
 ************************/

.create{background-color:#36c6d3}
.truncate-txhash, .truncate-addrhash{
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
    max-width:220px;
}
.truncate-addrhash {
    max-width:200px;   
}
.scrollable {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#table_txs td, #table_internal_txs td {
    font-size: 12px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}
.eth-stat {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #7f90a4;
}
.eth-stat-title {
    font-size: 25px;
    text-align: center;
}
.eth-stat-text {
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.fade {opacity: 0.6}
.home-tx{
    font-size: 12px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}

.page-404 {text-align: center;}
.page-404 .number {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
}
.page-404 .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}
pre {
    margin-top: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre.code-js, .verified{
    max-height: 200px; 
}
.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
}
i.verified:before{
  content:"\f1ce"
}
.page-logo a {
    text-decoration: none;
}
tr.ng-scope {
    white-space: nowrap;
}
li.ng-scope {
    width: calc(100% - 16px);
}
.table-scrollable {
    margin: 0 !important;
}

.container table td{
    word-break: break-all;
}

.container table.table-condensed td {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(68, 77, 88, 0.27);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
.page-spinner-bar{
    margin-top:-100px;
    margin-left:-45px;
    top:50%;
    left:50%;
}

.portlet-body .notification {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.portlet-body .notification > div {
    min-height: 55px;
    padding: 15px;
    text-align: center;
}

.portlet-body .notification > div > span {
    word-break: break-all;
}


.portlet-body .notification .error{
    border-color: #af4149;
    border-radius: 5px !important;
    background-color: #e7505a;
    color: white;
}

.portlet-body .notification .info {
    border-color: #e0ebf9;
    border-radius: 5px !important;
    background-color: #e0ebf9;
    color: black;
}

@media (max-width: 487px) {
    .portlet-title .caption .addr {
        font-size: 15px;
    }
}