<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img ng-show="settings.logo" src="{{settings.logo}}" alt="logo" class="logo-default" />
        </a>
    </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-header-menu">
    <div class="container">
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="/token" class="dropdown-toggle"> Tokens
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 410px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/token/0xd05957e940593192a6bdd04f72b44e9ebc4d4bfd" class="iconify">
                                                    <i class="icon-pin"></i> LethToken</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
